
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.pidb
*.userprefs
*.userpref
*.suo
[Bb]in
[Dd]ebug*/
[Bb]in-debug/
[Bb]in-release/
html-template/
Spike.Assets/*
!Spike.Assets/Download.bat
!Spike.Assets/Upload.bat
!Spike.Assets/SprightlySoftAWS.dll
!Spike.Assets/S3Sync.exe
Spike.Externals/*
!Spike.Externals/Download.bat
!Spike.Externals/Upload.bat
!Spike.Externals/SprightlySoftAWS.dll
!Spike.Externals/S3Sync.exe
Spike.Shared/*
!Spike.Shared/Download.bat
!Spike.Shared/Upload.bat
!Spike.Shared/SprightlySoftAWS.dll
!Spike.Shared/S3Sync.exe
Spike.Web/Misakai/thumbs/*
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vs10x
*.DS_Store
*Config.ini
*.resources
