
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.pidb
*.userprefs
*.userpref
*.suo
*.v12.suo
[Bb]in
[Dd]ebug*/
[Bb]in-debug/
[Bb]in-release/
html-template/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
packages/*
[Tt]est[Rr]esult*
*.vs10x
*.vs11x
*.vs12x
*.DS_Store
*Config.ini
*.resources
Spike.Apps/Emailing/
